<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="box">
            <div class="box-header">
              <h3>New Investors</h3>
            </div>
            <ul class="list no-border p-b">
              <li class="list-item">
                <a herf class="list-left">
                  <span class="w-40 avatar">
                    <img src="./assets/images/a4.jpg" alt="...">
                    <i class="on b-white bottom"></i>
                    </span>
                </a>
                <div class="list-body">
                  <div><a href>Christina Fox</a> 0x26588a9301b0428d95e6fc3a5024fce8bec12d51</div>
                  <small class="text-muted text-ellipsis">RSC,RSC-FDD</small>
                </div>
              </li>
              <li class="list-item">
                <a herf class="list-left">
                  <span class="w-40 avatar">
                    <img src="./assets/images/a5.jpg" alt="...">
                    <i class="on b-white bottom"></i>
                  </span>
                </a>
                <div class="list-body">
                  <div><a href>Walter Minsky</a> 0x26588a9301b0428d95e6fc3a5024fce8bec12d51</div>
                  <small class="text-muted text-ellipsis">RSC-FDD</small>
                </div>
              </li>
              <li class="list-item">
                <a herf class="list-left">
                  <span class="w-40 avatar">
                    <img src="./assets/images/a6.jpg" alt="...">
                    <i class="away b-white bottom"></i>
                  </span>
                </a>
                <div class="list-body">
                  <div><a href>George Lubovsky</a> 0x26588a9301b0428d95e6fc3a5024fce8bec12d51</div>
                  <small class="text-muted text-ellipsis">RSC,RSC-FDD,RSC-CRP</small>
                </div>
              </li>
              <li class="list-item">
                <a herf class="list-left">
                  <span class="w-40 avatar">
                    <img src="./assets/images/a7.jpg" alt="...">
                    <i class="busy b-white bottom"></i>
                  </span>
                </a>
                <div class="list-body">
                  <div><a href>Joseph Khosielie</a> 0x26588a9301b0428d95e6fc3a5024fce8bec12d51</div>
                  <small class="text-muted text-ellipsis">RSC-WEA,RSC-UAA</small>
                </div>
              </li>
              <li class="list-item">
                <a herf class="list-left">
                  <span class="w-40 avatar success">
                    <span>P</span>
                    <i class="away b-white bottom"></i>
                  </span>
                </a>
                <div class="list-body">
                  <div><a href>Peter Toddle</a> 0x26588a9301b0428d95e6fc3a5024fce8bec12d51</div>
                  <small class="text-muted text-ellipsis">RSC</small>
                </div>
              </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
    <div class="box">
      <div class="box-header">
        <h3>Claims Today</h3>
        <small>20 approved, 3 declined, 5 under review</small>
      </div>
      <div class="box-tool">
            <ul class="nav">
              <li class="nav-item inline dropdown">
                <a class="nav-link text-muted p-x-xs" data-toggle="dropdown">
                  <i class="fa fa-ellipsis-v"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-scale pull-right">
                  <a class="dropdown-item" href>New task</a>
                  <a class="dropdown-item" href>Make all finished</a>
                  <a class="dropdown-item" href>Make all unfinished</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item">Settings</a>
                </div>
              </li>
            </ul>
        </div>
      <div class="box-body">
          <div class="streamline b-l m-l">
              <div class="sl-item b-success">
                <div class="sl-icon">
                  <i class="fa fa-check"></i>
                </div>
                <div class="sl-content">
                  <div class="sl-date text-muted">8:30</div>
                  <div><a href class="text-info">Lufthansa 459 · Jan 10, 2016 SFO-MUC</a> ****ce8bec12d51</div>
                </div>
              </div>
              <div class="sl-item b-info">
                <div class="sl-content">
                  <div class="sl-date text-muted">Sat, 5 Mar</div>
                    <div><a href class="text-info">Lufthansa 459 · Jan 10, 2016 SFO-MUC</a> ****ce8bec12d51</div>
                </div>
              </div>
              <div class="sl-item b-warning">
                <div class="sl-content">
                  <div class="sl-date text-muted">Sun, 11 Feb</div>
                  <div><a href class="text-info">Lufthansa 459 · Jan 10, 2016 SFO-MUC</a> ****ce8bec12d51</div>
                </div>
              </div>
          </div>
      </div>
        <div class="box-footer">
          <a href class="btn btn-sm warn text-u-c pull-right">Add one</a>
          <a href class="btn btn-sm white text-u-c">More</a>
        </div>
      </div>
  </div>
    <div class="col-sm-12 col-md-4">
      <div class="box">
      <div class="box-header">
        <span class="label success pull-right">5</span>
        <h3>Human Ops Team: Log of Activities</h3>
        <small>10 activities this week.</small>
      </div>
      <div class="box-body">
          <div class="streamline b-l m-b m-l">
                <div class="sl-item">
                  <div class="sl-left">
                    <img src="./assets/images/a2.jpg" class="img-circle">
                  </div>
                  <div class="sl-content">
                    <a href class="text-info">Markus Zuelmann</a><span class="m-l-sm sl-date">5 min ago</span>
                    <div>initiated manual processing of <div><a href class="text-info">Lufthansa 459 · Jan 10, 2016 SFO-MUC ****ce8bec12d51</a> </div>

                  </div>
                </div>
                <div class="sl-item">
                  <div class="sl-left">
                    <img src="./assets/images/a5.jpg" class="img-circle">
                  </div>
                  <div class="sl-content">
                    <a href class="text-info">Ari Mutanenn</a><span class="m-l-sm sl-date">10 min ago</span>
                    <div>held investor call</div>
                  </div>
                </div>
                <div class="sl-item">
                  <div class="sl-left">
                    <img src="./assets/images/a8.jpg" class="img-circle">
                  </div>
                  <div class="sl-content">
                    <a href class="text-info">Leon Covalietti</a><span class="m-l-sm sl-date">1 hour ago</span>
                    <div>reviewed liquidity requirements</div>
                  </div>
                </div>
              </div>
              <a href class="btn btn-sm white text-u-c m-y-xs">Load More</a>
        </div>
    </div>
    </div>
</div>
</div>
