<!--
- Home
- Faucet
- Simple Insurance
  - Apply for Policy
  - Policy List
- Investors
- Statistics
- Management
- Oracles
-->

  <ul class="nav" ui-nav>

    <li ui-sref-active="active">
      <a ui-sref="app.dashboard">
        <span class="nav-icon">
          <i class="material-icons">&#xe8f0;</i>
        </span>
        <span class="nav-text">Home</span>
      </a>
    </li>

    <li ui-sref-active="active">
      <a ui-sref="app.faucet">
        <span class="nav-icon">
          <i class="material-icons">&#x1f4b0;</i>
        </span>
        <span class="nav-text">Faucet</span>
      </a>
    </li>

    <li ui-sref-active="active">
      <a ui-sref="app.simple-insurance">
        <span class="nav-icon">
          <i class="material-icons">&#x2614;</i>
        </span>
        <span class="nav-text">Simple Insurance</span>
      </a>
    </li>

    <li ui-sref-active="active">
      <a ui-sref="app.investors">
        <span class="nav-icon">
          <i class="material-icons">&#x20ac;</i>
        </span>
        <span class="nav-text">Investors</span>
      </a>
    </li>

    <li ui-sref-active="active">
      <a ui-sref="app.statistics">
        <span class="nav-icon">
          <i class="material-icons">&#x1f5e0;</i>
        </span>
        <span class="nav-text">Statistics</span>
      </a>
    </li>

    <li ui-sref-active="active">
      <a ui-sref="app.management">
        <span class="nav-icon">
          <i class="material-icons">&#x2699;</i>
        </span>
        <span class="nav-text">Management</span>
      </a>
    </li>

    <li ui-sref-active="active">
      <a ui-sref="app.oracles">
        <span class="nav-icon">
          <i class="material-icons">&#xe8d2;</i>
        </span>
        <span class="nav-text">Oracles</span>
      </a>
    </li>

    <li ui-sref-active="active">
      <a ui-sref="app.future">
        <span class="nav-icon">
          <i class="material-icons">&#xe8d2;</i>
        </span>
        <span class="nav-text">Future Additions</span>
      </a>
    </li>

  </ul>
